## DM 2 de math

In [1]:
#import bibliothèaues
import pandas as pd

In [2]:
#création dataset
dataDM2 = pd.DataFrame([["Norvège","Royaume-Uni","Danemark","Italie","France"]
                        ,[0.0285,2490,249000,17830]
                        ,["Tonne","dag","dg","g"]]
                       ,index=["pays","qté_déchets","unité"])

### Dataset

In [3]:
dataDM2.head()

                   0            1         2       3       4
pays         Norvège  Royaume-Uni  Danemark  Italie  France
qté_déchets   0.0285         2490    249000   17830    None
unité          Tonne          dag        dg       g    None

### Question 1 : déchets  par jour par tout les français

In [4]:
dechet_total = 1443000000
nbrejour = 366
print("La france jette",round(dechet_total/nbrejour),"kg de déchet electronique par jour")
print("La france jette",round(dechet_total/nbrejour/1000),"t de déchet electronique par jour")

La france jette 3942623 kg de déchet electronique par jour
La france jette 3943 t de déchet electronique par jour

### Question 2 : déchets  par français par an

In [5]:
popFR = 67000000
dataDM2[4].loc["unité"] = "kg"
dataDM2[4].loc["qté_déchets"] = round(dechet_total/popFR)
dataDM2.head()

                   0            1         2       3       4
pays         Norvège  Royaume-Uni  Danemark  Italie  France
qté_déchets   0.0285         2490    249000   17830      22
unité          Tonne          dag        dg       g      kg

### Question 3 : classement des pays en fonction de leurs déchets électroniques

In [6]:
# pour classer c'est mieux de tourner le tableau
dataDM2 = dataDM2.transpose()

In [7]:
#on convertie tout dans une unité comnmune

dataDM2.loc[dataDM2["unité"] == "Tonne",["qté_déchets"]] *= 1000
dataDM2.loc[dataDM2["unité"] == "dag",["qté_déchets"]] /= 100
dataDM2.loc[dataDM2["unité"] == "dg",["qté_déchets"]] /= 10000
dataDM2.loc[dataDM2["unité"] == "g",["qté_déchets"]] /= 1000

#ne pas oublier de mettre la colonne unité en Kg
dataDM2["unité"] = "kg"

#Maintenant le classement
dataDM2["rang"] = round(dataDM2["qté_déchets"].rank(method="min",ascending=False))
dataDM2 = dataDM2.sort_values(by="qté_déchets",ascending=False)
dataDM2 = dataDM2.reset_index(drop=True)

In [8]:
#affichage du top 5
dataDM2.head()

          pays qté_déchets unité  rang
0      Norvège        28.5    kg   1.0
1  Royaume-Uni        24.9    kg   2.0
2     Danemark        24.9    kg   2.0
3       France          22    kg   4.0
4       Italie       17.83    kg   5.0