## DM numéro 1 classe 5B
Importation des bibliothèques python

In [1]:
import pandas as pd
from IPython.display import display

Importation du fichiers csv

In [2]:
tableau_resultat = pd.read_csv("DM1.csv")
#affichage tableau pour verification
display(tableau_resultat.head(10))

      épreuves    Louise     Amira   Allison      Sara
0  100 m haies    15''02    16''27    14''59    14’´58
1      hauteur     1,6 m    1,62 m    1,59 m    1.47 m
2        poids    8,40 m    9,74 m    6,88 m    8,13 m
3        200 m    26´´63    27´´21    25´´73    26´´66
4     longueur    5,37 m     5,2 m    4,42 m    4,82 m
5      javelot   33,87 m   20,16 m   17,40 m   25,98 m
6        800 m  2´36´´78  2´38´´92  2´38´´82  2´30´´20

Je retourne le tableau.

In [3]:
tableau_resultat = tableau_resultat.transpose()
tableau_resultat  = tableau_resultat.rename(columns=tableau_resultat.iloc[0])
tableau_resultat = tableau_resultat.drop("épreuves")
display(tableau_resultat)

        100 m haies hauteur   poids   200 m longueur  javelot     800 m
Louise       15''02   1,6 m  8,40 m  26´´63   5,37 m  33,87 m  2´36´´78
Amira        16''27  1,62 m  9,74 m  27´´21    5,2 m  20,16 m  2´38´´92
Allison      14''59  1,59 m  6,88 m  25´´73   4,42 m  17,40 m  2´38´´82
Sara         14’´58  1.47 m  8,13 m  26´´66   4,82 m  25,98 m  2´30´´20

Affichage des attributs du tableau

In [4]:
display(tableau_resultat.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Louise to Sara
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   100 m haies  4 non-null      object
 1   hauteur      4 non-null      object
 2   poids        4 non-null      object
 3   200 m        4 non-null      object
 4   longueur     4 non-null      object
 5   javelot      4 non-null      object
 6   800 m        4 non-null      object
dtypes: object(7)
memory usage: 256.0+ bytes

None

Il n'y a que des chaines de caracteres. Dur de faire un classement avec ca.</br>
changement dans le tableau:</br>
mettre les distances au bon format</br>
mettre les temps dans la même unité

In [5]:
#definition de fonction

def enlever_le_m_virgule(mot):
    # enlever le m puis et remplace la virgule par un point
    mot = mot[:-2]
    return float(mot.replace(",","."))

tableau_resultat["hauteur"] = tableau_resultat['hauteur'].apply(enlever_le_m_virgule)
tableau_resultat["longueur"] = tableau_resultat['longueur'].apply(enlever_le_m_virgule)
tableau_resultat["javelot"] = tableau_resultat['javelot'].apply(enlever_le_m_virgule)
tableau_resultat["poids"] = tableau_resultat['poids'].apply(enlever_le_m_virgule)

In [6]:
def mettre_seconde_en_centieme(mot):
    seconde = mot[:-4]    
    centieme = mot[-2:]    
    return (int(seconde)*100+int(centieme))

def mettre_minute_en_centieme(mot):
    minute = mot[:-7]  
    centieme=mettre_seconde_en_centieme(mot[-6:])
    return (int(minute)*60+centieme)

tableau_resultat["200 m"] = tableau_resultat['200 m'].apply(mettre_seconde_en_centieme)
tableau_resultat["100 m haies"] = tableau_resultat['100 m haies'].apply(mettre_seconde_en_centieme)
tableau_resultat["800 m"] = tableau_resultat['800 m'].apply(mettre_minute_en_centieme)

display(tableau_resultat)

         100 m haies  hauteur  poids  200 m  longueur  javelot  800 m
Louise          1502     1.60   8.40   2663      5.37    33.87   3798
Amira           1627     1.62   9.74   2721      5.20    20.16   4012
Allison         1459     1.59   6.88   2573      4.42    17.40   4002
Sara            1458     1.47   8.13   2666      4.82    25.98   3140

après tout ça on peut commencer à faire le classement

In [7]:
#ranker les epreuves
tableau_resultat['rang 100 m haies'] = tableau_resultat['100 m haies'].rank(method='max',ascending=False)
tableau_resultat['rang hauteur'] = tableau_resultat['hauteur'].rank(method='max')
tableau_resultat['rang poids'] = tableau_resultat['poids'].rank(method='max')
tableau_resultat['rang 200 m'] = tableau_resultat['200 m'].rank(method='max',ascending=False)
tableau_resultat['rang longueur'] = tableau_resultat['longueur'].rank(method='max')
tableau_resultat['rang javelot'] = tableau_resultat['javelot'].rank(method='max')
tableau_resultat['rang 800 m'] = tableau_resultat['800 m'].rank(method='max',ascending=False)

#additionner les points:
tableau_resultat["nbrepoint"] = (tableau_resultat["rang 100 m haies"]
                                +tableau_resultat["rang hauteur"]
                                +tableau_resultat["rang poids"]
                                +tableau_resultat["rang 200 m"]
                                +tableau_resultat["rang longueur"]
                                +tableau_resultat["rang javelot"]
                                +tableau_resultat["rang 800 m"]
                                )
# classer les resultats
tableau_resultat = tableau_resultat.sort_values(by="nbrepoint",ascending=False)
#affichage tableau
display(tableau_resultat)

,100 m haies,hauteur,poids,200 m,longueur,javelot,800 m,rang 100 m haies,rang hauteur,rang poids,rang 200 m,rang longueur,rang javelot,rang 800 m,nbrepoint
Louise,1502,1.60,8.40,2663,5.37,33.87,3798,2.0,3.0,3.0,3.0,4.0,4.0,3.0,22.0
Sara,1458,1.47,8.13,2666,4.82,25.98,3140,4.0,1.0,2.0,2.0,2.0,3.0,4.0,18.0
Amira,1627,1.62,9.74,2721,5.20,20.16,4012,1.0,4.0,4.0,1.0,3.0,2.0,1.0,16.0
Allison,1459,1.59,6.88,2573,4.42,17.40,4002,3.0,2.0,1.0,4.0,1.0,1.0,2.0,14.0

le classement des athletes est le suivant :

In [8]:
liste_gagnant = tableau_resultat.index.to_list()
for a in liste_gagnant:
    display(a)

'Louise'

'Sara'

'Amira'

'Allison'